<div class="container-form">
  <h1>New jet</h1>

  <%= simple_form_for(@jet) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price, label: 'Price in Millions' %>
  </div>
  <div class="form-actions">
    <%= f.submit "Submit jet", class: "btn btn-dark" %>
  </div>
  <% end %>
</div>
