<h1>New booking</h1>

<%= simple_form_for [@jet, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.association :jet, include_blank: false, include_hidden: false%>
  <%= f.association :user, include_blank: false, include_hidden: false%>
  <%= f.submit "Submit booking", class: "btn btn-dark" %>
<% end %>
